@media screen and (max-width: 1480px) {
  #banner-midcircle .wrap .overlay {
    width: 55%;
  }
}

@media screen and (max-width: 1040px) {
  #banner-midcircle {
    display: none;
  }
  #banner-tablet {
    display: block;
  }
  #banner-action {
    display: block;
    padding: 100px 15px 0;
  }
}

@media screen and (max-width: 768px) {
  #widget-testimonial .unit {
    margin-bottom: 120px;
  }

  #widget-testimonial .unit:last-of-type {
    margin-bottom: 0;
  }

  #about .content {
    display: block;
  }

  #about .content .image-div {
    text-align: center;
  }

  #about .content img {
    margin-top: 15px;
    margin-left: 0;
  }

  #contact-table td {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }

  .gmap {
    margin: 25px 15px 0;
  }
}

@media screen and (max-width: 480px) {
  #banner-tablet {
    display: none;
  }
  #banner-mobile {
    display: block;
  }

  #banner-slider .wrap .overlay {
    padding: 100px 15px 0;
  }

  #face-compare .holder {
    margin: 15px 1px;
    height: 300px;
  }

  #compare .comparison {
    flex-direction: column;
  }

  #compare .comparison .cell {
    width: 100%;
  }
}
